body {
    background-color: rgb(238, 245, 247);
    display: flex;
    margin: 30px auto 20px;
    justify-content: center;
    border: 3px solid rgb(238, 240, 242);
    width: 900px;
    box-shadow: 2px 1px 20px rgb(132, 117, 117);
    border-radius: 10px;


}

.main-2 {
    display: flex;
    flex-direction: column;

}


.h1-1 {
    background-color: rgb(138, 181, 245);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: white;
}

.p-1 {
    background-color: rgb(119, 199, 252);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
    color: white;
}

#img-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(244, 242, 242);
    width: 700px;
    max-width: 700px;
    height: 500px;
    background-image: url(images/mji.jpg);
    background-size: cover;
    margin-top: 20px;
    border-radius: 2em;

}

#img-2 {
    border: 1px solid rgb(251, 242, 242);
    width: 100px;
    height: 100px;
    background-image: url(images/samaki.jpg);
    background-size: cover;
    border-radius: 40em;
    border: 2px solid skyblue;
}

#img-3 {
    border: 1px solid rgb(254, 248, 248);
    width: 100px;
    height: 100px;
    background-image: url(images/mlima.jpg);
    background-size: cover;
    border-radius: 40em;
    border: 2px solid skyblue;
}

#img-4 {
    border: 1px solid rgb(237, 235, 235);
    width: 100px;
    height: 100px;
    background-image: url(images/ziwa.jpg);
    background-size: cover;
    border-radius: 40em;
    border: 2px solid skyblue;

}

.oll-1 {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-around;

}

.oll-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.luck {
    display: flex;
    justify-content: space-around;
    color: rgb(5, 5, 6);
    margin: 30px;

}

.weka {
    text-align: center;
    color: rgb(17, 17, 18);
    font-style: italic;

}

#mimi-hapa {
    width: 130px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 1em;

}

.main-1 {
    display: flex;
    flex-direction: column;
}

.weka-2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 2px solid rgb(252, 250, 250);
    padding: 2px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(124, 58, 229);
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;

}